<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331928022776-vh27oemspvab9kmsm105nfegtpesodoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331928022776-vh27oemspvab9kmsm105nfegtpesodoi</string>
	<key>API_KEY</key>
	<string>AIzaSyBRMYTvHSavTfJ0oL4v5bm8M1Lxn1e7N-A</string>
	<key>GCM_SENDER_ID</key>
	<string>331928022776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rnhPos</string>
	<key>PROJECT_ID</key>
	<string>point-of-sales-d837c</string>
	<key>STORAGE_BUCKET</key>
	<string>point-of-sales-d837c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331928022776:ios:ed7aff76253eb60d1a950d</string>
</dict>
</plist>